<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<h1>About</h1>

<body>
    <p style="color:rgb(255, 255, 255);font-size:20px;">Hi! im the mi name is Vitto's the creator  of this small  project but i like make a small websites and me make a discord bot this bot don't have te bypass command but is a implementation you can invite with this <a href="https://discord.com/api/oauth2/authorize?client_id=846528675729244171&permissions=4294967287&scope=bot" target="_blank">(Click on this to invite a bot)</a> and the website is doing with python html css and java script but the mos important factor is the api the apis is of <a href="https://github.com/bypass-vip/bypass.vip" target="_blank">Bypass.vip</a> </a></p>
  </body>

{% endblock%}
