<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<h1>code of website </h1>

<body>
    <p style="color:rgb(255, 255, 255);font-size:20px;">hi in this area you can download the code of website and of discord bot but this is for later but you can download the page there <a href="https://github.com/bypass-vip/bypass.vip" target="_blank">(Download page)</a> the website is maked with HTML , java script, css and python the discord bot is maked with python you can get more info in the area of discord bot </p> 
  </body>

{% endblock%}
