<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<h1>Supported links</h1>

<body>
    <p style="color:rgb(255, 255, 255);font-size:30px;"> This is a list of Supported links
      <p style="color:rgb(255, 255, 255);font-size:20px;">-linkvertise.com (all of their domains)</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-adf.ly (all of their domains)</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-sub2unlock.net/sub2unlock.com</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-rekonise.com</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-letsboost.net</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-ph.apps2app.com</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-mboost.me</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-shortconnect.com</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-sub4unlock.com</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-ytsubme.com</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-steps2unlock.com</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-social-unlock.com</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-boost.ink</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-bit.ly</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-shrto.ml</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-goo.gl</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-t.co</p>
      <p style="color:rgb(255, 255, 255);font-size:20px;">-tinyurl.com</p>
  </body>

{% endblock%}
